---
import Welcome from "../components/Welcome.astro";
import ProductCard from "../components/ProductCard.astro";
// import { products } from "../data/products.js";

import Nav from "../components/Nav.astro";
import ProductDetails from "../components/ProductDetails.astro";
import { products } from "../data/products";
import Layout from "../layouts/Layout.astro";
---







<Layout>
  <Nav></Nav>
  <Welcome/>
</Layout>







