---
import HomeLayout from "../layouts/HomeLayout.astro";

import Offer from "../components/Offer.astro";
import GilFooter from "../components/GilFooter.astro";
import HeadOffer from "../components/HeadOffer.astro";

// NO seo object here - all SEO is in HomeLayout
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pay after Delivery</title>
    
    <!-- Open Graph Image -->
    <meta property="og:image" content="/phones/og.png" />
  </head>
  <body>
    <!-- <HeadOffer /> -->
    <Offer />
    <GilFooter />
  </body>
</html>