---
import HomeLayout from "../layouts/HomeLayout.astro";

import Offer from "../components/Offer.astro";

// NO seo object here - all SEO is in HomeLayout
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lipa Mdogo Mdogo</title>
  </head>
  <body>
    <Offer />
  </body>
</html>
