---
import CheckComp from '../../components/CheckComp.astro';
import Nav from '../../components/Nav.astro';
import { products } from '../../data/products';


export async function getStaticPaths() {
  return products.map((product) => ({
    params: { slugs: product.slugs },
  }));
}

const { slugs } = Astro.params;
const product = products.find(p => p.slugs === slugs);

if (!product) {
  throw new Error("Product not found");
}
---

<html lang="en">
  <head>
    <title>{product.name}</title>
    <meta name="description" content={product.description} />
 <style is:inline>

body{
  width:100vw;
  overflow-x:hidden;
}

  </style>

  </head>
  <body>
     <Nav></Nav>
    <CheckComp {...product} />
  </body>
</html>
