<style is:inline>
  .header-container-unique-xyz {
    width: 100%;
    max-width: 91vw;
    background: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    z-index: 2;
  }
  h1 a {
    text-decoration: none;
  }
  .main-heading-unique-xyz {
    color: #333;
    font-size: 14px;
  }
  .visually-hidden-unique-xyz {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow-x: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  @media (max-width: 768px) {
    .header-container-unique-xyz {
    }
    .main-heading-unique-xyz {
    }
  }
  @media print {
    body {
    }
    .header-container-unique-xyz {
      box-shadow: none;
    }
  }
</style>
<header class="header-container-unique-xyz" role="banner">
  <h1 class="main-heading-unique-xyz">
    Lipa Mdogo Mdogo Phones in Kenya – Buy Phones on Installments
    <span class="visually-hidden-unique-xyz"
      >Samsung, Infinix, Jumia phones on credit. Buy smartphones lipa pole pole
      with affordable installment payment plans. Chukua simu lipa pole pole
      Nairobi Kenya</span
    >
  </h1>
  <h1 class="main-heading-unique-xyz">
    <!-- <a href="/loan-or-cash">
      Buy on Cash
      <span class="visually-hidden-unique-xyz"
        >Skip installments and purchase smartphones with full cash payment in
        Nairobi Kenya</span
      > -->
  </h1>
</header>
