---
import NavTop from "./nav/NavTop.astro";
import NavBottom from "./nav/NavBottom.astro";
import MobileMenu from "./nav/MobileMenu.astro";
import NavStyles from "./nav/NavStyles.astro";
import NavScript from "./nav/NavScript.astro";
---

<style></style>

<nav class="navbar" role="navigation" aria-label="Main navigation">
  <NavTop />
  <NavBottom />
  <MobileMenu />
</nav>

<NavStyles />
<NavScript />
